.guru__navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  overflow: hidden;
  z-index: 1;
  width: 100%; 
  margin: auto;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  top: 0;
}


.guru__navbar--container {
  
}

.guru__navbar.sticky {
  background-color: white;
}

@media screen and (max-width: 1200px) {
  .guru__navbar {
    position: fixed;
  }
}