.header {
  background: linear-gradient(105.18deg, #2A5298 -2.04%,  #1E3C72 107.42%);
  width: 100vw;
  height: 100vh;
}

.header__bg {
  background-image: url('./assets/pattern.png');
  width: 100vw;
  height: 100vh;
}